body {
    background-color: #f4c430;
}
nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 80px;
    /* font-weight: 600px; */
    font-family: sans-serif;
}
nav ul {
    display: flex;
    list-style: none;
    gap: 30px;
}
nav a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}
nav ul li a:hover{
    color: #f4c430;
}
.logo {
    color: white;
    font: 700px;
}
nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 80px;
    /* font-weight: 600px; */
    font-family: sans-serif;
}
nav ul {
    display: flex;
    list-style: none;
    gap: 30px;
}
nav a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}
nav ul li a:hover{
    color: #f4c430;
}
.logo {
    color: white;
    font: 700px;
}
.logo span {
    color: #f4c430;
}
.container {
    background-color: black;
    width: 85%;
    height: 650px;
    margin: 35px auto;
    border-radius: 15px;
    padding: 30px;
    box-shadow:  0 10px 30px rgba(0, 0, 0, 0.5);

}
footer {
    background-color:#f4c430;
    text-align: center;
    height: 100%;
    border-top: 2px solid black;
    box-shadow: 0 -3px 5px rgba(0, 0, 0, 0.5);
    margin-top: 50px;
}
footer p {
    color: black;
}
footer p {
    /* padding-top: 15px;
    padding-bottom: 15px; */

     color: black;
     display: flex;
     flex-direction: column;
     justify-content: center;
}
.social-icons img {
    width: 45px;
    height: 45px;
    margin: 0 10px;
}
.first-p {
    margin-top: 15px;
    margin-bottom: 50px;
}
.second-p {
    margin-top: 50px;
    padding-bottom: 15px;
    margin-bottom: 15px;
    
}

.logo span {
    color: #f4c430;
}
.container {
    background-color: black;
    width: 85%;
    height: 650px;
    margin: 35px auto;
    border-radius: 15px;
    padding: 30px;
    box-shadow:  0 10px 30px rgba(0, 0, 0, 0.5);

}
footer {
    background-color:#f4c430;
    text-align: center;
    height: 100%;
    border-top: 2px solid black;
    box-shadow: 0 -3px 5px rgba(0, 0, 0, 0.5);
    margin-top: 50px;
}
footer p {
    color: black;
}
footer p {
    /* padding-top: 15px;
    padding-bottom: 15px; */

     color: black;
     display: flex;
     flex-direction: column;
     justify-content: center;
}
.social-icons img {
    width: 45px;
    height: 45px;
    margin: 0 10px;
}
.first-p {
    margin-top: 15px;
    margin-bottom: 50px;
}
.second-p {
    margin-top: 50px;
    padding-bottom: 15px;
    margin-bottom: 15px;
    
}
